@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.header-checkout--col2 {
  margin: 0;
  padding: 0;
  height: 83px;
  background: #2e292a 0% 0% no-repeat padding-box;
  opacity: 1;
}

.header-checkout--container-desktop {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

@media (min-width: 600px) {
  .header-checkout--container-mobile {
    display: none;
  }
}

@media (max-width: 601px) {
  .header-checkout {
    height: 45px;
  }

  .header-checkout--container-desktop {
    display: none;
  }

  .header-checkout--container-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .header-checkout--container-mobile--figure {
    width: 120px;
    height: 28px;
    padding: 0;
    margin: 0;
  }

  .header-checkout--container-mobile--figure--img {
    width: 100%;
    height: 100%;
  }
}

.header-checkout--container-desktop--figure {
  margin: 0;
  max-width: 125px;
  max-height: 125px;
  margin-left: 2.5%;
  z-index: 99;
}

.header-checkout--container-desktop--figure--img {
  width: 100%;
}

.header-checkout--container-desktop--info {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-checkout--container-desktop--info--text {
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.header-checkout--container-desktop--info--text__help {
  text-align: left;
  font: normal normal bold 16px/25px Poppins;
  letter-spacing: 0px;
  color: #80bc00;
}

.header-checkout--container-desktop--info--text__phone {
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}

.header-checkout--container-desktop--info--text__email {
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
}

/* componente de paso a paso */
.progress-container::before {
  content: '';
  background: #c1c4c7 0% 0% no-repeat padding-box;
  position: absolute;
  top: 40%;
  left: 8%;
  transform: translateY(-50%);
  height: 2px;
  width: 80%;
  z-index: -1;
  transition: 0.4s ease;
}
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.progress-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
  justify-content: space-between;
  position: relative;
  width: 350px;
  border: 1px solid;
  width: 607px;
  height: 71px;
}

.step-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capsula {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 50% 50%;
  margin: 0;
  padding: 0;

  width: 44px;
  height: 45px;
  max-width: 44px;
  max-height: 45px;

  background: #c1c4c7 0% 0% no-repeat padding-box;
  opacity: 1;
}
.capsula.active {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 50% 50%;
  margin: 0;
  padding: 0;

  width: 44px;
  height: 45px;
  max-width: 44px;
  max-height: 45px;

  background: #80bc00 0% 0% no-repeat padding-box;
  opacity: 1;
}

.number {
  text-align: left;
  font: normal normal bold 18px/20px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.text.active {
  text-align: left;
  font: normal normal bold 16px/20px Poppins;
  letter-spacing: 0px;
  color: #80bc00;
  opacity: 1;
}
.text {
  text-align: left;
  font: normal normal normal 16px/20px Poppins;
  letter-spacing: 0px;
  color: #c1c4c7;
  opacity: 1;
}

/* 
.stepInCheckout {
  width: 40%;
  margin: 30px auto 80px;
  text-align: center;
}

.step {
  background: #292929;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  border: none;
  margin: 5px 80px 5px 0;
  transition: all 0.5s ease-in;
  width: 28px;
  height: 28px;
  -webkit-transition: all 0.5s ease-in;
} */
